.header {
  background-color: var(--background-primary);
}

.header__logo a img {
  width: 200px;
  height: 200px;
  /* background-color: yellow; */
  display: inline-block;
}

.header__navbar-list {
  color: var(--text-simple);
}